header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    width: 100%;
    /* margin-bottom: 13px; */
    padding-top: 13px;
   
  
  }
  nav {
    width: 60%;
    position: relative;
    right: 100px;
    
    
  }
  
  ul {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 900px;
    margin-left: -100px;
  }
  
  ul button{
    padding: 1rem 1rem;
    /* margin-top: 2em; */
    border-radius: 0.4em;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid #d6d6d6;
    position: relative;
    transition: 0.5s;
  }

  ul button::after{
    content: "";
  background: #fa8443;
  position: absolute;
  width: 0;
  height: 100%;
  top: 0;
  left: 0;
  border-radius: inherit;
  z-index: -1;
  transition: 0.5s width;
  }

  ul button:hover::after{
    width: 100%;
  }

  ul button:hover{
    background: none;
  }


  li {
    /* Nav Item */
  
    position: relative;
  
    font-family: "open Sans";
    font-style: normal;
    font-weight: 500;
    font-size: 17px;
    line-height: 22px;
    list-style-type: none;
    text-transform: capitalize;
    /* identical to box height */
  
    /* 1st */
    color: #212832;
    /* outline: none; */
    cursor: pointer;
   
  }
  li::before {
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -6px;
    left: 0;
    background-color: #d47c4c;
    transition: width 0.4s ease-in-out;
  }

  li:hover::before {
    width: 100%;
  }

  

   /* #profile,
.logout {
  display: block;
} */

/* #profile,
.logout {
  display: none;
} */

  /* li:hover {
    text-decoration: underline;
  } */

  ul a{
    text-decoration: none;
  }

  
  
  .head{
      /* box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
      -webkit-box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75);
      -moz-box-shadow: 2px 5px 28px -4px rgba(128, 128, 128, 0.75); */
      background-color: #f9f3f3;
      position: sticky;
      top: 0;
      z-index: 1;
      height: 109px;
      max-height: 120px;

     
      
      
      
  }

  #userInfo{
    font-size: 16px;
    font-family: 'Poppins';
    font-weight: 600;
    /* margin-left: -50px; */
    color: #d47c4c;
    text-transform: capitalize;
    



  }
  