@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&family=Cormorant+Upright:wght@300;400;500;600;700&family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,500;1,700&family=Inter:wght@100;200;300;400;500;600;700;800;900&family=Lato:ital,wght@0,100;0,300;0,400;0,700;1,100;1,300;1,400&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  box-sizing: border-box;
}


body {
  margin: 0;
  padding: 0;
  /* background-color: #f5f2f1; */
  overflow-x: hidden;
}

.c1 {
  max-width: 1200px;
  margin: 0 auto;
}

.cursor{
  position: absolute;
  z-index: 999;
  width: 3rem;
  height: 3rem;
  border: 2px solid black;
  border-radius: 50%;
  transform: translate(-50%, -50%);
  pointer-events: none;
  backdrop-filter: invert();
  transition: 100% 100%;
  transition: width .5s, height .5s;
}

.expand{
  width: 6rem;
  height: 6rem;
}

/* .container{
    background-image: url(/Projects/jadoo/images/Decore.png);
    background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: right;
  
} */

.herosection {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* top: 90px; */
  height: 100vh;
  padding-left: 80px;
}

.herosection h6 {
  /* padding-left: ; */
  position: relative;
  width: 100%;
  height: 10px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 30px;
  text-transform: uppercase;

  color: #df6951;
  margin-bottom: -20px;
}

.herosection h1 {
  width: 100%;
  height: 267px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  font-size: 3em;
  line-height: 89px;
  letter-spacing: -0.04em;
  color: #181e4b;
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 4px 4px rgba(0, 0, 0, 0.25);
}

.herosection p {
  width: 100%;
  height: 90px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 500;
  font-size: 19px;
  line-height: 30px;
  color: #5e6282;
  margin-top: -100px;
}

.herosection button {
  position: relative;
  top: 30px;
  width: 30%;
  background: #fa8443;
  border-radius: 8px;
  height: 3.5em;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  color: #ffffff;
  text-transform: capitalize;
  border: none;
  transition: calc(1s);
}

.herosection button:hover {
  transform: scale(1.2);
}
.left{
  width: 100%;
  /* padding-right: 200px; */
}

.left img{
  width: 100%;
}

.lefts {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
.left1 {
  position: relative;
  /* left: 35em; */
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 50%;

  /* background-color: #5E6282; */
}
.left1 h4 {
  width: 98px;
  height: 27px;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 27px;

  text-align: center;

  color: #5e6282;
}

.left1 h1 {
  width: 100%;
  height: 65px;
  font-family: "Volkhov";
  font-style: normal;
  font-weight: 700;
  font-size: 40px;
  line-height: 64px;
  text-align: center;
  text-transform: capitalize;

  color: #14183e;
  margin-top: -10px;
}

.rights {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  position: relative;
  top: 90px;
gap: 50px;


}

.r2 {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  box-shadow: -2px -9px 93px 11px rgba(0,0,0,0.06);
-webkit-box-shadow: -2px -9px 93px 11px rgba(0,0,0,0.06);
-moz-box-shadow: -2px -9px 93px 11px rgba(0,0,0,0.06);
  border-radius: 10px;
  padding-top: 90px;
  
}

.r2 h6{
/* Calculated Weather */
width: 190px;
height: 27px;
font-family: 'Open Sans';
font-style: normal;
font-weight: 600;
font-size: 17px;
line-height: 27px;
text-align: center;
/* text heading color */
color: #1E1D4C;

}

.r2 p{
  /* Built Wicket longer admire do barton vanity itself do in it. */
width: 181px;
height: 78px;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 26px;
/* or 162% */
text-align: center;

/* TEXT CLR */
color: #5E6282;
margin-top: -10px;


}
.s2{
  position: relative;
  left: -190px;
 
}

.h6{
  margin-top: -10px;
}
.im{
margin-top: -40px;
}
.section1{
  /* background-color: white; */
  height: 70vh;
  padding-left: 80px;
  padding-right: 80px;
}

.under{
  display: grid;
  grid-template-columns: 300px 300px 300px;
  position: relative;
  align-items: center;
  gap: 50px;
  top: 70px;
  /* width: 70vw; */
  padding-left: 200px;
  padding-top: 80px;
  /* box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39); */
  /* -webkit-box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39); */
  /* -moz-box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39); */
      border-radius: 10px;
      position: relative;
      right: 60px;
    
  /* height: 60vh; */

}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
 
     height: 80%;
     width: 100%;
     padding-left: 200px;
     /* padding-top: 130px; */
     /* position: relative; */
     /* left: 150px; */


}



.card h2{
  /* Full Europe */

position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 18px;
line-height: 124.5%;
/* or 22px */

/* TEXT CLR */
color: #5E6282;
top: -160px;
right: 100px;
width: 120%;



}
.card h4{
  /* 28 Days Trip */

position: relative;
font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 124.5%;
/* identical to box height, or 20px */

/* TEXT CLR */
color: #5E6282;
top: -160px;
right: 100px;
display: flex;
justify-content: space-between;
width: 120%;


}

.card span{
  position: relative;
  left: 240px;
  top: -22px;
}

.top{
  display: flex;
  flex-direction: column;
  align-items: center;
 margin-top: 150px;
 margin-bottom: -235px;
 margin-left: 130px;
}

.top h1{
  /* Subheading */

position: relative;
width: 100%;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

/* TEXT CLR */
color: #5E6282;
top: 40px;


}

.top p{
  /* Heading */

position:relative;
width: 418px;
height: 65px;

font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 64px;
/* identical to box height */
text-align: center;
text-transform: capitalize;

/* 3rd */
color: #14183E;


}


.section4{
position: relative;
background-color: rgb(255, 255, 255);
/* margin-top:300px; */
padding-bottom: 210px;
height: 60vh;
/* opacity: 0; */
}
.section2{
  padding-left: 100px;
}
.s3{
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  /* top: 20vh; */
  padding-left: 80px;
  padding-right: 80px;
  /* gap: 90px; */
 
}
.left4{
  margin-right: 90px;
  width: 90%;
}
.left4 img{
  width: 100%;
}


.l2{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px ;
}

.right h2{
/* Subheading */
width: 126px;
height: 27px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */
text-align: center;

/* TEXT CLR */
color: #5E6282;
margin-bottom: -80px;


}

.l2:hover{
  box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39);
  -webkit-box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39);
  -moz-box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39);
    border-radius: 10px;
}

.right h5{
  /* Heading */

width: 511px;
height: 130px;
font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 64px;
text-transform: capitalize;

/* 3rd */
color: #14183E;
margin-bottom: 10px;


}


.in3{
  display: flex;
  flex-direction: column;
  align-items: start;
  position: relative;
  right: 90px;
}

.in3 h6{
  /* Choose Destination */
width: 100%;
height: 20px;
font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 16px;
line-height: 124.5%;
/* identical to box height, or 20px */

/* TEXT CLR */
color: #5E6282;
text-transform: capitalize;
margin-bottom: 10px;


}

.in3 p{
  /* Lorem ipsum dolor sit amet, consectetur adipiscing elit. Urna, tortor tempus. */

width: 327px;
height: 40px;
font-family: 'Poppins';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 124.5%;
/* or 20px */

/* TEXT CLR */
color: #5E6282;
margin-top: -5px;


}

.left22{
  width: 50%;
}

.li{
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}


/* .section4{
height: 0vw;

} */

.top4 h1{
/* Why Choose Us */

width: 251px;
height: 50px;

/* Display md/Bold */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 36px;
line-height: 140%;
/* or 50px */
display: flex;
align-items: center;
text-align: center;
letter-spacing: -0.01em;

/* Gray / 900 / default */
color: #121212;




}
.right4{
  position: relative;
  right: -140px;
}

.top4 p{
  /* Enjoy different experiences in every place you visit and discover new and affordable adventures of course. */

width: 558px;
height: 56px;

/* Text xl/Regular */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 140%;
/* or 28px */
display: flex;
align-items: center;
letter-spacing: 0.15px;

/* Gray / 900 / default */
color: #121212;


/* Inside auto layout */
flex: none;
order: 1;
flex-grow: 0;

}
.top{
  width: 100%;
}

.inside4 h1{
/* Flight Ticket */

width: 200px;
height: 28px;

/* Text xl/Bold */
font-family: 'Lato';
font-style: normal;
font-weight: 700;
font-size: 20px;
line-height: 140%;
/* identical to box height, or 28px */
display: flex;
align-items: center;
letter-spacing: 0.15px;

/* Gray / 900 / default */
color: #121212;


/* Inside auto layout */
flex: none;
order: 0;
flex-grow: 0;

}

.inside4 p{
  /* Vitae donec pellentesque a aliquam et ultricies auctor. */

width: 100%;
height: 22px;

/* Text md/Regular */
font-family: 'Lato';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 140%;
display: flex;
align-items: center;
letter-spacing: 0.5px;
color: #636363;

}
.inside4{
  margin-right: 65px;
}

.li:hover{
  box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39);
  -webkit-box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39);
  -moz-box-shadow: -1px -5px 122px 3px rgba(0,0,0,0.39);
    border-radius: 10px;
}


.sub{
  position: relative;
  top: 300px;
  
}
.input{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 70%;
  height: 50vh;
width: 1070px;
height: 407px;
background-color: #e5e2f1;
border-radius: 20px 129px 20px 20px;
/* transform: matrix(-1, 0, 0, 1, 0, 0); */

}
.input h1{
  /* Subscribe to get information, latest news and other interesting offers about Jadoo */
width: 80%;
height: 108px;
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 27px;
line-height: 54px;
text-align: center;
color: #5E6282;
text-transform: capitalize;
margin-top: 100px;


}

input{
  /* Rectangle 23 */
width: 421px;
height: 68px;
border: none;
background: #FFFFFF;
border-radius: 10px;
margin-top: 20px;
outline: none;



}

input::placeholder{
  font-family: "Poppins";
font-size: 1.1em;
padding-left: 2px;
}

.input1 button{
  /* Rectangle 1 */
width: 150px;
height: 58px;
background: linear-gradient(180deg, #FF946D 0%, #FF7D68 100%);
border-radius: 10px;
border: none;
color: white;
font-family: "Poppins";
font-size: 1.1em;


}

footer{
  position: relative;
  top: 400px;
  display: flex;
  align-items: center;
  /* padding-left: 120px;  */
  padding-right: 150px;
  background: #ffffff;
  box-shadow: -2px -9px 93px 11px rgba(0,0,0,0.06);
-webkit-box-shadow: -2px -9px 93px 11px rgba(0,0,0,0.06);
-moz-box-shadow: -2px -9px 93px 11px rgba(0,0,0,0.06);
width: 100%;
padding-top: 30px;
  
}
footer p{
  color: var(--textclr, #5E6282);
font-size: 0.8125rem;
font-family: "Poppins";
font-style: normal;
font-weight: 500;
line-height: 124.5%;
width: 80%;
}


.foot1{
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: space-between;
position: relative;

 
}

.foot2 h1{
  color: var(--black, #000000);
font-size: 1.3125rem;
font-family: "Poppins";
font-style: normal;
font-weight: 700;
line-height: 124.5%;
}


.foot2 h5{
  color: var(--textclr, #5E6282);
font-size: 1.125rem;
font-family: Poppins;
font-style: normal;
font-weight: 500;
line-height: 124.5%;
}
.foot2{
  margin-right: 70px;
}

.foot3 h1{
  color: var(--black, #000000);
  font-size: 1.3125rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 124.5%;
}

.foot3 h5{
  color: var(--textclr, #5E6282);
  font-size: 1.125rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
}

.foot3{
  margin-right: 30px;
}
.foot4{
  margin-left: 90px;
}

.foot4 h1{
  color: var(--black, #000000);
  font-size: 1.3125rem;
  font-family: "Poppins";
  font-style: normal;
  font-weight: 700;
  line-height: 124.5%;
}

.foot4 h5{
  color: var(--textclr, #5E6282);
  font-size: 1.125rem;
  font-family: Poppins;
  font-style: normal;
  font-weight: 500;
  line-height: 124.5%;
}
