main {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  background-color: #fffdfd;}

  body{
    overflow-x: hidden;
  }
.card {
  /* background-color: white; */
  position: relative;
  top: 60px;
  padding: 16px 32px;
  width: 30%;
  /* height: 300px; */
  max-width: 600px;
  background: rgba(185,164,164,0.3);
  -webkit-backdrop-filter: blur(8px);
  backdrop-filter: blur(8px);
  border: 1px solid rgba(185,164,164,0.15);
  border-radius: 5px;
}

.card h2 {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 40px;
 
}

.card div {
  display: flex;
  flex-direction: column;
  width: 100%;
  /* margin-top: -20px; */
  margin-bottom: 8px;
  /* height: 100px; */
}

.card label {
  font-size: 14px;
  font-weight: 400;
}

.card input {
  font-size: 20px;
  font-weight: 400;
  height: 35px;
  margin-top: 10px;
  padding-left: 5px;
  border: none;
  border-bottom: 1px solid #b4a9a9;
  outline: none;
  background: none;
  caret-color: red;
}

.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.btn button {
  width: 40%;
  max-width: 200px;
  height: 40px;
  cursor: pointer;
  border: none;
  border-radius: 10px;
  background: #fa8443;
  font-size: 12px;
  font-weight: 600;
  color: #ffff;
  text-transform: capitalize;
}

.message {
  text-align: center;
  font-size: 16px;
  color: rgb(255, 0, 0);
  text-transform: capitalize;
}

form p {
  text-align: center;
  font-size: 12px;
}
.btn2{
  background: #fa8443;
  display: flex;
  align-items: center;
  /* text-align: center; */
  position: relative;
 width: 30%;
 height: 40px;
 border-radius: 10px;
 color: white;
 /* margin-left: 200px; */
 padding-left: 50px;
 text-decoration: none;
 font-family: sans-serif;
 font-weight: 400;
 /* transition: calc(1s); */
  
}

.init{
  text-transform: capitalize;
  color: rgb(31, 109, 40);
}
/* .btn2:hover{
  transform: scale(1.2);
} */

@media screen and (max-width: 576px) {
  .card {
    padding: 8px 16px;
    width: 90%;
    max-width: 400px;
  }

  .card h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .card label {
    font-size: 16px;
  }

  .card input {
    font-size: 16px;
    font-weight: 400;
    height: 30px;
  }

  .message {
    font-size: 12px;
  }

  form p {
    font-size: 14px;
  }
}
